name: Build And Push Docker Image

on:
  push:
    tags:
      - 'v*'
env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
jobs:

  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker Build
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile
          tags: ${{ github.ref_name }}
          context: . 
          push: true
          build-args: |
            APP_VERSION=${{ github.ref_name }}
