name: Build And Push Docker Image

on:
  push:
    tags:
      - 'v*'
env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}

jobs:
  update-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.release.target_commitish }}
      
      - name: Update VERSION file
        run: |
          echo "${{ github.event.release.tag_name }}" > VERSION
          echo "Version mise à jour à ${{ github.event.release.tag_name }}"
      
      - name: Commit and push
        run: |
          git config user.email "action@github.com"
          git config user.name "GitHub Action"
          git add VERSION
          git commit -m "chore: Update VERSION to ${{ github.event.release.tag_name }}" || echo "Rien à committer"
          git push

  docker:
    runs-on: ubuntu-latest
    needs: update-version
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}     
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
      - name: Docker Build
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          context: . 
          push: true
